body {
  background-color: antiquewhite;
  font-family: "Tahoma", sans-serif;
  margin: 0;
  height: 0 auto;
  width: 0 auto;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 0;
}

.title {
  display: flex;
  flex-direction: column;
  color:antiquewhite;
  background-image: url(../img/P1000260.JPG);
  height: 35vh;
  background-size: cover;
  background-position: center;
  padding-top: 0;
  justify-content: center;
  align-items: center;
}
.title p {
  padding-top: 0;
  font-size: 20px;
}

#inhoudshortcut nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color:slategray;
  width: 100%;
  align-items: center;
}
#inhoudshortcut a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
#inhoudshortcut a:hover {
  color: antiquewhite;
  font-weight: bold;
}

#intro {
  padding: 10px;
  border: 2px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  width: 50vw;
  margin-top: 50px;
  margin-left: 8vw;
  height: 20vh;
  box-shadow: 5px 10px black;
}
#intro h2{
  text-align: left;
  text-decoration: underline;
}
#intro p{
  font-size: 18px;
}

#pets {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 50vw;
  margin-left: 42vw;
  margin-top: 3vh;
  box-shadow: -5px 10px black;
}
#pets h2{
  text-align: right;
  text-decoration: underline;
  margin-right: 4vw;
}
#pets p{
  padding: 5px;
  font-size: 18px;
  text-align: right;
  margin-right: 4vw;
}
#picture-min {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 150px;
  height:200px;
}
#picture-min2 {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#minoes-complete {
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  border-radius: 2vw;
  text-align: center;
  margin-bottom: 1vh;
}
div.minoes {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  font-weight: bold;
  width: 45vw;
}
#picture-puk {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#picture-puk2 {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#pukkie-complete {
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  border-radius: 2vw;
  text-align: center;
}
div.pukkie {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 10px;
  font-weight: bold;
  width: 45vw;
}

#hobbies {
  padding: 10px;
  background-color: slategray;
  border: 2px solid slategray;
  border-radius: 2vw;
  margin-bottom: 3vh;
  width: 50vw;
  margin-left: 8vw;
  box-shadow: 5px 10px black;
}
#hobbies h2 {
  text-align: left;
  text-decoration: underline;
  margin-left: 2vw;
}
#hobbies li {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}
#hobbies p {
  font-size: 17px;
}

#overig {
  background-color: slategray;
  border: 2px solid slategray ;
  border-radius: 2vw;
  margin-bottom: 8vw;
  padding: 10px;
  width: 50vw;
  margin-left: 42vw;
  box-shadow: -5px 10px black;
}
#overig h2 {
  text-align: right;
  text-decoration: underline;
  margin-right: 3vw;
}
#overig li {
  font-weight: bold;
  font-size: 20px;
}
#overig p {
  font-size: 17px;
}
#favegamessingle li {
  font-weight: normal;
  font-size: 17px;
}
.picture_game {
  width: 320px;
  float: right;
  border: 2px solid antiquewhite;
  border-radius: 2vw;
  padding: 1px;
  background-color: antiquewhite;
  margin-bottom: 3vw;
  margin-right: 2vw;
}
#favegamesmulti li{
  font-weight: normal;
  font-size: 17px;
}
#favegamesmulti {
  margin-bottom: 2vw
}
#favemovies li{
  font-weight: normal;
  font-size: 17px;
}

#socials {
  display: flex;
  align-items: center;
  background-image: url(../img/P1000260.JPG);
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 12vh;
}
#socialstitle h2 {
  display: flex;
  background-color: slategray;
  margin-bottom: 0;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
#socials nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
#socials a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: 18px;
}
#socials a:hover {
  color: slategray;
  font-weight: bold;
}

@media (max-width: 650px) {
  .title {
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    background-image: url(../img/P1000260.JPG);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
  h1 {
    display: flex;
    font-size: 30px;
    align-items: center;
    padding-bottom: 0;
  }
  .title p {
    text-align: center;
    padding-top: 0;
    font-size: 15px;
  }

  #inhoudshortcut nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18vh;
    background-color:slategray;
    width: 100%;
    align-items: center;
    padding: 10px;
  }
  
  #intro {
    padding: 10px;
    border: 2px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    width: 90%;
    margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 25vh;
    box-shadow: 5px 10px black;
  }
  #intro h2{
    text-align: center;
    text-decoration: none;
  }

  #pets {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 3vh;
    width: 90%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #pets h2{
    text-align: center;
    text-decoration: none;
  }
  #pets p{
    padding: 5px;
    font-size: 18px;
    text-align: center;
  }
  #minoes-complete {
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 2vw;
  }
  div.minoes {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    width: 97%;
  }
  #picture-min {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 120px;
    height: 150px;
  }
  #picture-min2 {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 200px;
    height: 150px;
  }

  h4 {
    text-align: center;
  }

  div.pukkie {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    width: 97%;
  }
  #pukkie-complete {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 2vw;
  }
  #picture-puk {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 170px;
    height: 150px;
  }
  #picture-puk2 {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

  #hobbies {
    padding: 10px;
    background-color: slategray;
    border: 2px solid slategray;
    border-radius: 2vw;
    margin-bottom: 3vh;
    width: 90%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #hobbies h2 {
    text-align: center;
    text-decoration: none;
  }

  #overig {
    display: flex;
    flex-direction: column;
    background-color: slategray;
    border: 2px solid slategray ;
    border-radius: 2vw;
    margin-bottom: 10vh;
    padding: 10px;
    width: 90%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #overig h2 {
    text-align: center;
    text-decoration: none;
  }
  .picture_game {
    width: 150px;
    float: right;
    border: 2px solid antiquewhite;
    border-radius: 2vw;
    padding: 1px;
    background-color: antiquewhite;
    margin-top: 3vh;
    margin-bottom: 3vw;
  }





}