body {
  background-color: antiquewhite;
  font-family: "Tahoma", sans-serif;
  margin: 0;
  height: 0 auto;
  width: 0 auto;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 0;
}

.title {
  display: flex;
  flex-direction: column;
  color:antiquewhite;
  background-image: url(../img/moonbackground.JPG);
  height: 35vh;
  background-size: cover;
  background-position: center;
  padding-top: 0;
  justify-content: center;
  align-items: center;
}
.title p {
  padding-top: 0;
  font-size: 20px;
}
#prestatie-select nav {
  display: flex;
  justify-content: space-evenly;
  height: 6vh;
  background-color:slategray;
  width: 100%;
  align-items: center;
  margin-top: 5px;
}
#prestatie-select a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
#prestatie-select a:hover {
  color: antiquewhite;
  font-weight: bold;
}
#home-select nav {
  display: flex;
  justify-content: space-evenly;
  height: 6vh;
  background-color:slategray;
  width: 100%;
  align-items: center;
  margin-top: 5px;
}
#home-select a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
#home-select a:hover {
  color: antiquewhite;
  font-weight: bold;
}
#inhoudshortcut nav {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  background-color:slategray;
  width: 100%;
  align-items: center;
}
#inhoudshortcut a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
#inhoudshortcut a:hover {
  color: antiquewhite;
  font-weight: bold;
}

#intro {
  padding: 10px;
  border: 2px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  width: 50vw;
  margin-top: 50px;
  margin-left: 8vw;
  height: 20vh;
  box-shadow: 5px 10px black;
}
#intro h2{
  text-align: left;
  text-decoration: underline;
}
#intro p{
  font-size: 18px;
}

#pets {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 50vw;
  margin-left: 42vw;
  margin-top: 3vh;
  box-shadow: -5px 10px black;
}
#pets h2{
  text-align: right;
  text-decoration: underline;
  margin-right: 4vw;
}
#pets p{
  padding: 5px;
  font-size: 18px;
  text-align: right;
  margin-right: 4vw;
}
#picture-min {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 150px;
  height:200px;
}
#picture-min2 {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#minoes-complete {
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  border-radius: 2vw;
  text-align: center;
  margin-bottom: 1vh;
}
div.minoes {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  font-weight: bold;
  width: 45vw;
}
#picture-puk {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#picture-puk2 {
  border: 1px solid slategray;
  background-color: slategray;
  border-radius: 2vw;
  padding: 5px;
  width: 200px;
  height: 200px;
}
#pukkie-complete {
  border: 2px solid antiquewhite;
  background-color: antiquewhite;
  border-radius: 2vw;
  text-align: center;
}
div.pukkie {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 10px;
  font-weight: bold;
  width: 45vw;
}

#hobbies {
  padding: 10px;
  background-color: slategray;
  border: 2px solid slategray;
  border-radius: 2vw;
  margin-bottom: 3vh;
  width: 50vw;
  margin-left: 8vw;
  box-shadow: 5px 10px black;
}
#hobbies h2 {
  text-align: left;
  text-decoration: underline;
  margin-left: 2vw;
}
#hobbies li {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}
#hobbies p {
  font-size: 17px;
}

#overig {
  background-color: slategray;
  border: 2px solid slategray ;
  border-radius: 2vw;
  margin-bottom: 8vw;
  padding: 10px;
  width: 50vw;
  margin-left: 42vw;
  box-shadow: -5px 10px black;
}
#overig h2 {
  text-align: right;
  text-decoration: underline;
  margin-right: 3vw;
}
#overig li {
  font-weight: bold;
  font-size: 20px;
}
#overig p {
  font-size: 17px;
}
#favegamessingle li {
  font-weight: normal;
  font-size: 17px;
}
.picture_game {
  width: 320px;
  float: right;
  border: 2px solid antiquewhite;
  border-radius: 2vw;
  padding: 1px;
  background-color: antiquewhite;
  margin-bottom: 3vw;
  margin-right: 2vw;
}
#favegamesmulti li{
  font-weight: normal;
  font-size: 17px;
}
#favegamesmulti {
  margin-bottom: 2vw
}
#favemovies li{
  font-weight: normal;
  font-size: 17px;
}

#socials {
  display: flex;
  align-items: center;
  background-image: url(../img/moonbackground.JPG);
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 12vh;
}
#socialstitle h2 {
  display: flex;
  background-color: slategray;
  margin-bottom: 0;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
#socials nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
#socials a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: 18px;
}
#socials a:hover {
  color: slategray;
  font-weight: bold;
}

#judging-giraffe {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 45vw;
  margin-left: 2vw;
  margin-top: 8vh;
  box-shadow: 5px 10px black;
}
#giraffe-inhoud img{
  width: 200px;
  border-radius: 2vw;
  margin-right: 2vw;
}

#giraffe-inhoud {
  display: flex;
}

#giraffe-inhoud p{
  display: flex;
  margin: 3px;
  font-size: 20px;
}

#garyjokejudger {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 45vw;
  margin-left: 50vw;
  margin-top: 3vh;
  box-shadow: -5px 10px black;
}

#gary-inhoud img{
  width: 270px;
  border-radius: 2vw;
  margin-right: 2vw;
}

#gary-inhoud {
  display: flex;
}

#gary-inhoud p{
  display: flex;
  margin: 3px;
  font-size: 20px;
}

#reservationSystem {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 45vw;
  margin-left: 2vw;
  margin-top: 8vh;
  box-shadow: 5px 10px black;
}
#reservation-content img{
  width: 400px;
  height: 200px;
  border-radius: 1vw;
  margin-top: 9vh;
  margin-right: 1vw;
  margin-left: 0.5vw;
  margin-bottom: 0.5vh;
}

#reservation-content {
  display: flex;
}

#reservation-content p{
  display: flex;
  margin: 3px;
  font-size: 20px;
}

#HefparkHopper {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 45vw;
  margin-left: 50vw;
  margin-top: 3vh;
  box-shadow: -5px 10px black;
}

#platformer-content img{
  width: 330px;
  height: 200px;
  border-radius: 2vw;
  margin-right: 2vw;
  margin-top: 7vh;
}

#platformer-content {
  display: flex;
}

#platformer-content p{
  display: flex;
  margin: 3px;
  font-size: 20px;
  margin-bottom: 2vh;
}

#auditiefOv {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 3vh;
  width: 45vw;
  margin-left: 50vw;
  margin-top: 3vh;
  box-shadow: -5px 10px black;
}

#auditief-content img{
  width: 250px;
  border-radius: 1vw;
  margin-right: 1vw;
  margin-left: 0.5vw;
  margin-bottom: 0.5vh;
}

#auditief-content {
  display: flex;
}

#auditief-content p{
  display: flex;
  margin: 3px;
  font-size: 20px;
}


#fotografie {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 8vh;
  width: 45vw;
  margin-left: 2vw;
  margin-top: 5vh;
  box-shadow: 5px 10px black;
}
#fotografie h2{
  font-size: 30px;
}
#fotografie-intro {
  margin-left: 3vw;
}
#fotografie-intro p {
  font-size: 20px;
}

div.polaroid {
  border-radius: 2vw;
  overflow: hidden;
  width: 25%;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.picture-name {
  text-align: center;
  padding: 10px 20px;
}

#fotografie-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

#fotografie-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

#fotografie-3 {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

#contact-intro {
  margin-left: 15vw;
  margin-top: 3vh;
  width: 70vw;
  text-align: center;
}

#contactformulier {
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2vw;
  background-color: slategray;
  margin-bottom: 8vh;
  width: 70vw;
  height: 55vh;
  margin-left: 15vw;
  box-shadow: 5px 10px black;
}
#formspace {
  display: flex;
  justify-content: space-around;
  margin-top: 3vh;
  font-size: 20px;
  width: 40vw;
  margin-left: 15vw;
}

button {
  border: 0;
  background-color: antiquewhite;
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2vw;
  margin-left: 30vw;
  margin-top: 4vh;
}

button:hover {
  background-color: slategray;
  color: antiquewhite;
}
input[type=text] {
  background-color: antiquewhite;
}

input[type=email] {
  background-color: antiquewhite;
} 

input[type=date] {
  background-color: antiquewhite;
}

input[type=checkbox] {
  background-color: antiquewhite;
}

input[type=text], textarea {
  border-radius: 2vw;
  height: 30px;
}

input[type=email], textarea {
  border-radius: 2vw;
  height: 30px;
}

input[type=date], textarea {
  border-radius: 2vw;
  height: 30px;
}

@media (max-width: 650px) {
  .title {
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    background-image: url(../img/moonbackground.JPG);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
  h1 {
    display: flex;
    font-size: 30px;
    align-items: center;
    padding-bottom: 0;
  }
  .title p {
    text-align: center;
    padding-top: 0;
    font-size: 15px;
  }

  #inhoudshortcut nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18vh;
    background-color:slategray;
    width: 100%;
    align-items: center;
    padding: 10px;
  }
  
  #intro {
    padding: 10px;
    border: 2px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    width: 90%;
    margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 30vh;
    box-shadow: 5px 10px black;
  }
  #intro h2{
    text-align: center;
    text-decoration: none;
  }
  #intro p{
    font-size: 18px;
    margin-bottom: 1vh;
  }

  #pets {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 3vh;
    width: 90vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #pets h2{
    text-align: center;
    text-decoration: none;
  }
  #pets p{
    padding: 5px;
    font-size: 18px;
    text-align: center;
  }
  #minoes-complete {
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 2vw;
  }
  div.minoes {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    width: 97%;
  }
  #picture-min {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 120px;
    height: 150px;
  }
  #picture-min2 {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 200px;
    height: 150px;
  }

  h4 {
    text-align: center;
  }

  div.pukkie {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    width: 97%;
  }
  #pukkie-complete {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 2vw;
  }
  #picture-puk {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 170px;
    height: 150px;
  }
  #picture-puk2 {
    border: 1px solid slategray;
    background-color: slategray;
    border-radius: 2vw;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

  #hobbies {
    padding: 10px;
    background-color: slategray;
    border: 2px solid slategray;
    border-radius: 2vw;
    margin-bottom: 3vh;
    width: 90%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #hobbies h2 {
    text-align: center;
    text-decoration: none;
  }

  #overig {
    display: flex;
    flex-direction: column;
    background-color: slategray;
    border: 2px solid slategray ;
    border-radius: 2vw;
    margin-bottom: 10vh;
    padding: 10px;
    width: 90%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #overig h2 {
    text-align: center;
    text-decoration: none;
  }
  .picture_game {
    width: 150px;
    float: right;
    border: 2px solid antiquewhite;
    border-radius: 2vw;
    padding: 1px;
    background-color: antiquewhite;
    margin-top: 3vh;
    margin-bottom: 3vw;
  }

  #prestatie-select nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    background-color:slategray;
    width: 100%;
    align-items: center;
    margin-top: 5px;
  }
  #prestatie-select a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  #prestatie-select a:hover {
    color: antiquewhite;
    font-weight: bold;
  }

  #judging-giraffe {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 3vh;
    width: 90vw;
    margin-left: 1vw;
    margin-top: 8vh;
    box-shadow: 5px 10px black;
  }
  #giraffe-inhoud img{
    width: 200px;
    border-radius: 2vw;
    margin-right: 2vw;
  }
  
  #giraffe-inhoud {
    display: flex;
  }
  
  #giraffe-inhoud p{
    display: flex;
    margin: 3px;
    font-size: 20px;
  }

  #garyjokejudger {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 3vh;
    width: 90vw;
    margin-left: 1vw;
    margin-top: 3vh;
    box-shadow: 5px 10px black;
  }
  
  #gary-inhoud img{
    height: 250px;
    width: 200px;
    border-radius: 2vw;
    margin-right: 2vw;
    margin-left: 20vw;
  }
  
  #gary-inhoud {
    display: flex;
    flex-direction: column;
  }
  
  #gary-inhoud p{
    display: flex;
    margin: 3px;
    font-size: 20px;
  }

  #fotografie {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 8vh;
    width: 90vw;
    margin-left: 2vw;
    margin-top: 5vh;
    box-shadow: 5px 10px black;
  }
  #fotografie h2{
    font-size: 30px;
  }
  #fotografie-intro {
    margin-left: 3vw;
  }
  #fotografie-intro p {
    font-size: 20px;
  }
  
  div.polaroid {
    border-radius: 2vw;
    overflow: hidden;
    width: 31%;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.picture-name {
    text-align: center;
    padding: 4px 6px;
  }
  
  #fotografie-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
  }
  
  #fotografie-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
  }
  
  #fotografie-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
  }
  #contact-intro {
    margin-left: 5vw;
    margin-top: 3vh;
    width: 90vw;
    text-align: center;
    font-size: 15px;
  }
  #contactformulier {
    padding: 10px;
    border: 2px solid slategray;
    border-radius: 2vw;
    background-color: slategray;
    margin-bottom: 8vh;
    width: 90vw;
    height: 70vh;
    margin-left: 1vw;
    box-shadow: 5px 10px black;
  }

  #formspace {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    font-size: 20px;
    width: 85vw;
    margin-left: 1vw;
  }

}